<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf title</title>
    <link rel="stylesheet" th:href="@{demo.css}">
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="menu">
            <h3 class="logo">Con<span>tact</span></h3>
            <div class="hamburger-menu">
                <div class="bar"></div>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="main">
            <header>
                <div class="overlay">
                    <div class="inner">
                        <h2 class="title">Contact Me</h2>
                        <p>
                            I'm always looking for feedback and new opportunities. Have a message? Advice? Contact me by email!
                        </p>

                    </div>
                </div>
            </header>
        </div>

        <div class="shadow one"></div>
        <div class="shadow two"></div>
    </div>

    <div class="links">
        <ul>
            <li>
                <a th:href="@{/}"  style="--i: 0.05s;">Home</a>
            </li>
            <li>
                <a th:href="@{Projects}" style="--i: 0.15s;">Projects</a>
            </li>
            <li>
                <a th:href="@{CurriculumVitae}" style="--i: 0.2s;">Curriculum Vitae</a>
            </li>
            <li>
                <a th:href="@{About}" style="--i: 0.25s;">About</a>
            </li>
            <li>
                <a th:href="@{Contact}" style="--i: 0.3s;">Contact</a>
            </li>
        </ul>
    </div>
</div>
<script src="app.js"></script>
</body>
</html>