<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Curriculum Vitae</title>
    <link rel="stylesheet" th:href="@{demo.css}">
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="menu">
            <h3 class="logo">Curriculum<span>Vitae</span></h3>
            <div class="hamburger-menu">
                <div class="bar"></div>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="main">
            <header>
                <div class="overlay">
                    <img class="cv-picture" src="bg.jpg" alt="Italian Trulli">
                    <div class="inner-cv">
                            <h3>Febrian Francione</h3>
                            <h4>Montreal, Canada</h4>
                                <h4>Education</h4>
                                <p>Concordia University (September 2017 - May 2021) <br> Bachelor of Science in Computer Science</p>

                            <br>

                                <h4>Experience:</h4>
                                <br>
                                2/2014 - 2/2014: Job Shadowing Intern, Nvidia
                                <ul>
                                    <li> - Reviewed and tested the Nvidia Shield User experience</li>
                                    <li> - Wrote text documentation and reviews for the Nvidia Shield</li>
                                    <li> - Tested public connections bandwidth and range from mobile test car</li>
                                    <li> - Performed basic network tests on prototypical technologies in Tech lab</li>
                                    <li> - Discussed Production stages from start to finish with engineers</li>
                                </ul>
                                <br>
                                6/2017 - 8/2017: Teaching Assistant, NxAcademy
                                <ul>
                                    <li> - Helped install and configure Windows OS on user computers</li>
                                    <li> - Worked closely with students to build and program Arduino boards using Python</li>
                                    <li> - Ensured smooth working operation of Arduino Boards by maintaining and performing firmware updates</li>
                                    <li> - Presented basic Python concepts</li>
                                </ul>
                                <br>
                                3/2018 - 4/2018: Office Cleaner, SabCo Experts
                                <ul>
                                    <li> - Cleaned office spaces</li>
                                    <li> - Cleared and partly emptied office warehouse</li>
                                </ul>

                            <br>

                                <h4>Projects</h4>
                                <ul>
                                    <li></li>
                                </ul>
                                <br>
                                6/2017 - 8/2017: Teaching Assistant, NxAcademy
                                <ul>
                                    <li> - Helped install and configure Windows OS on user computers</li>
                                    <li> - Worked closely with students to build and program Arduino boards using Python</li>
                                    <li> - Ensured smooth working operation of Arduino Boards by maintaining and performing firmware updates</li>
                                    <li> - Presented basic Python concepts</li>
                                </ul>
                                <br>
                                <br>
                                6/2017 - 8/2017: Teaching Assistant, NxAcademy
                                <ul>
                                    <li> - Helped install and configure Windows OS on user computers</li>
                                    <li> - Worked closely with students to build and program Arduino boards using Python</li>
                                    <li> - Ensured smooth working operation of Arduino Boards by maintaining and performing firmware updates</li>
                                    <li> - Presented basic Python concepts</li>
                                </ul>
                                <br>
                                <br>
                                6/2017 - 8/2017: Teaching Assistant, NxAcademy
                                <ul>
                                    <li> - Helped install and configure Windows OS on user computers</li>
                                    <li> - Worked closely with students to build and program Arduino boards using Python</li>
                                    <li> - Ensured smooth working operation of Arduino Boards by maintaining and performing firmware updates</li>
                                    <li> - Presented basic Python concepts</li>
                                </ul>
                                <br>
                    </div>
                </div>
            </header>
        </div>

        <div class="shadow one"></div>
        <div class="shadow two"></div>
    </div>

    <div class="links">
        <ul>
            <li>
                <a th:href="@{/}"  style="--i: 0.05s;">Home</a>
            </li>
            <li>
                <a th:href="@{Projects}" style="--i: 0.15s;">Projects</a>
            </li>
            <li>
                <a th:href="@{CurriculumVitae}" style="--i: 0.2s;">Curriculum Vitae</a>
            </li>
            <li>
                <a th:href="@{About}" style="--i: 0.25s;">About</a>
            </li>
            <li>
                <a th:href="@{Contact}" style="--i: 0.3s;">Contact</a>
            </li>
        </ul>
    </div>
</div>
<script src="app.js"></script>
</body>
</html>