<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Curriculum Vitae</title>
    <link rel="stylesheet" th:href="@{demo.css}">
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="menu">
            <h3 class="logo">Curriculum<span>Vitae</span></h3>
            <div class="hamburger-menu">
                <div class="bar"></div>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="main">
            <header>
                <div class="overlay">
                    <img class="cv-picture" src="bg.jpg" alt="Italian Trulli">
                    <div class="inner-cv">
                        <h3>Febrian Francione</h3>
                        <h4>Montreal, Canada</h4>

                        <h4>Technical Skills</h4>
                        <hr>
                        <br>
                        <ul>
                            <li>Beginner: Java, Spring, Python, C++, Git, MySql, Html, Css, Bootstrap, Agile Development, UML</li>
                            <li>Exposure: MongoDb, PHP, NoSql, Linux, Javascript </li>
                        </ul>

                        <br>

                        <h4>Work Experience:</h4>
                        <hr>
                        <br>
                        <ul class="wrk-exp">
                            <li>2/2014 - 2/2014: Job Shadowing Intern, Nvidia
                                <ul class="wrk-exp-inner">
                                    <li>Reviewed and tested the Nvidia Shield User experience</li>
                                    <li>Wrote text documentation and reviews for the Nvidia Shield</li>
                                    <li>Tested public connections bandwidth and range from mobile test car</li>
                                    <li>Performed basic network tests on prototypical technologies in Tech lab</li>
                                    <li>Discussed Production stages from start to finish with engineers</li>
                                </ul>
                            </li>
                            <li>
                            6/2017 - 8/2017: Teaching Assistant, NxAcademy
                            <ul>
                                <li> - Helped install and configure Windows OS on user computers</li>
                                <li> - Worked closely with students to build and program Arduino boards using Python</li>
                                <li> - Ensured smooth working operation of Arduino Boards by maintaining and performing firmware updates</li>
                                <li> - Presented basic Python concepts</li>
                            </ul>
                            </li>
                            <li>
                            3/2018 - 4/2018: Office Cleaner, SabCo Experts
                            <ul>
                                <li> - Cleaned office spaces</li>
                                <li> - Cleared and partly emptied office warehouse</li>
                            </ul>
                            </li>

                        </ul>
                        <br>

                        <h4>Education</h4>
                        <hr>
                        <br>
                        <p>Concordia University (September 2017 - May 2021)
                            <br>
                            Bachelor of Science in Computer Science</p>

                        <br>

                        <h4>Projects</h4>
                        <hr>
                        <br>
                        <ul>
                            <li>Side-Project: Website using Spring</li>
                            <li>Side-Project: Chess Evolved</li>
                            <li>Side-Project: Basic Dashboard</li>
                            <li>School-Project: Warzone Board Game</li>
                            <li>School-Project: Poker Machine Learning</li>
                            <li>School-Project: CRUD Website</li>
                            <li>School-Project: Data Communications</li>
                        </ul>
                        <br>


                        <h4>Extra-Curriculars</h4>
                        <hr>
                        <br>
                        <ul class="wrk-exp">
                            <li>
                            <table>
                                <th>3/2020 - 4/2020: Chief Electoral Officer, ECA, Concordia University</th>
                                <tr> - Briefed candidates on rulings and Bylaws</tr>
                                <tr> - Organized polling stations</tr>
                                <tr> - Set up and assured correct functionality for online voting platform</tr>
                                <tr> - Made an impartial decision, disqualifying a candidate in violation of Electoral Bylaws</tr>
                                <tr> - Concluded elections and announced newly elected candidates</tr>
                            </table>
                            </li>
                            <li>
                                <table>
                                    <th>3/2020 - 3/2020: Volunteer for Troitsky Bridge Building Competition</th>
                                    <tr> - Briefed candidates on rulings and Bylaws</tr>
                                    <tr> - Organized polling stations</tr>
                                    <tr> - Set up and assured correct functionality for online voting platform</tr>
                                    <tr> - Made an impartial decision, disqualifying a candidate in violation of Electoral Bylaws</tr>
                                    <tr> - Concluded elections and announced newly elected candidates</tr>
                                </table>
                            </li>
                            <li>
                                <table>
                                    <th>3/2020 - 4/2020: Chief Electoral Officer, ECA, Concordia University</th>
                                    <tr> - Briefed candidates on rulings and Bylaws</tr>
                                    <tr> - Organized polling stations</tr>
                                    <tr> - Set up and assured correct functionality for online voting platform</tr>
                                    <tr> - Made an impartial decision, disqualifying a candidate in violation of Electoral Bylaws</tr>
                                    <tr> - Concluded elections and announced newly elected candidates</tr>
                                </table>
                            </li>
                            <li>
                                <table>
                                    <th>2009 - 2018: Baseball Player, Assistant Coach, Certified Umpire</th>
                                    <tr> - Played in competitions in France and Italy.</tr>
                                    <tr> - Helped organize and set up events</tr>
                                    <tr> - Won a multitude of regional and inter-regional awards</tr>
                                    <tr> - Selected to play for the French National Team</tr>
                                    <tr> - Played with Italian teams as a loaner</tr>
                                    <tr> - Organized practices and taught children and intitiates</tr>
                                    <tr> - Partook in Umpire Training camp and became a certified Umpire</tr>
                                </table>
                            </li>
                            <li>
                                <table>
                                    <th>2013 - 2018: Basketball Player</th>
                                    <tr> - Won several departmental competitions</tr>
                                    <tr> - </tr>
                                </table>
                            </li>
                            <li>
                                <table>
                                    <th>2019- Present: Brazilian Jiu Jitsu Practitioner</th>
                                    <tr> - White belt at Carlson Gracie Jr. Gym</tr>
                                </table>
                            </li>

                        </ul>
                    </div>
                </div>
            </header>
        </div>

        <div class="shadow one"></div>
        <div class="shadow two"></div>
    </div>

    <div class="links">
        <ul>
            <li>
                <a th:href="@{/}"  style="--i: 0.05s;">Home</a>
            </li>
            <li>
                <a th:href="@{Projects}" style="--i: 0.15s;">Projects</a>
            </li>
            <li>
                <a th:href="@{CurriculumVitae}" style="--i: 0.2s;">Curriculum Vitae</a>
            </li>
            <li>
                <a th:href="@{About}" style="--i: 0.25s;">About</a>
            </li>
            <li>
                <a th:href="@{Contact}" style="--i: 0.3s;">Contact</a>
            </li>
        </ul>
    </div>
</div>
<script src="app.js"></script>
</body>
</html>